<div class="activity_box">
	<h2>Automatic Packet Reporting System</h2>
	<p>
	<script type="text/javascript">
	he_track = "<%=@callsign %>";
	he_show_others = 1;
	</script>
	<script type="text/javascript" src="http://aprs.fi/js/embed.js">
	</script>
	</p>
	<!iframe src="http://aprs.fi/?call=<%=@callsign %>" width="800" height="800"><!/iframe>
</div>
