<%-
profile ||= @profile
with_form ||= false
with_wall_to_wall ||= false

comments ||= @comments
@count = comments.total_entries

parent ||= @parent
parent = @blog || @profile || nil
-%>
  
<div class="activity_box" id="comment">
	<h2>Comments
    </h2>
	<div id="<%= "#{dom_id(parent)}_comments" %>" class="inside_box">
		<%= render :partial => 'comments/comment', :collection => comments %>
	</div>
	
	<%= william_paginate %>
</div>

<%= render :partial => 'comments/form' if with_form && @p %>