<!-- <p>
  <b>Profile:</b>
  <%=h @status.profile_id %>
</p> -->

<p>
  <b>Message:</b>
  <%=h @status.message %>
</p>


<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
