<h2>About 73s</h2>
<br />
<div>
<p>
	Our community is <%= @totalusers%> members strong and grew by <%=@newusers%> hams this week! 
</p>	
<p>
	Welcome to the 73s, the social network for ham radio operators!  Some people explain 73s as the FaceBook&trade; for Hams and we're
	flattered. Before you comment on the domain, we realize that <i>hardcore</i> Hams have an issue with the plural form of 73 and equate
	it to meaning "Best Regards<b>es</b>" but we were lucky to find this domain available!  Even the .ORG further emphasizes our commitment
	to the Ham community.  
</p>

<p>
	What is the <a href="http://www.signalharbor.com/73.html">origin</a> of the 73 code dates back to 1935 in a issue of QST magazine but 
	QSL cards have been spotted dating back to 1917 referencing 73<b>s</b>.  Perhaps some may argue that 73s could mean "<b>many</b> best regards" - 
	hence the pluralization. 
</p>
<table border="0">
	<tr><td><img src="/images/73sa.jpg" alt="" /></td><td><img src="/images/73sb.jpg" alt="" /></td></tr>
	<tr><td><img src="/images/73sc.jpg" alt="" /></td><td><img src="/images/73sf.jpg" alt="" /></td></tr>
	<tr><td><img src="/images/73sd.jpg" alt="" /></td><td><img src="/images/73sg.jpg" alt="" /></td></tr>
</table>
<br />
<p>
	If you are already a licensed Ham Radio operator then setup a profile, raise your antenna, and get ready to communicate with the world.  
	Find, follow, and track amateur radio friends (old and new).  You can post photos and blogs while linking into your existing YouTube, 
	Flickr, and Twitter accounts!  You can also log QSOs online and lookup repeaters, clubs, and Ham events - even DX cluster traffic and 
	APRS status of fellow Hams.
</p>

<p>
	If you are looking for more great ham radio content, check out the following podcasts: 
	<a href="http://www.icqpodcast.com/">ICQ Podcast</a> and <a href="http://kd0bik.com/podcast/">Practical Amateur Radio Podcast</a> and 
	<a href="http://blacksparrowmedia.com/resonantfrequency/">Resonant Frequency</a>.
</p>

<p>
	If you are a developer, check out our <a href="/apis">Developer APIs</a>.  We are added more APIs and features by the week; however, we
	are also taking special requests.  If you have a feature request or new Ham ideas that you would like to discuss with us, send me
	a Direct Message at <a href="/n7ice">http://73s.org/n7ice</a>!
</p>


<p>73s,<br />
	Chris Matthieu ~ <a href="/n7ice">N7ICE</a>
</p>
</div>