<div id="terms_and_service" class="clear">

<h1>73s Live!</h1><br />

<table><tr><td>
	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="400" height="320" id="utv648315"><param name="flashvars" value="autoplay=false&amp;brand=embed"/><param name="allowfullscreen" value="true"/><param name="allowscriptaccess" value="always"/><param name="movie" value="http://www.ustream.tv/flash/live/341377"/><embed flashvars="autoplay=false&amp;brand=embed" width="400" height="320" allowfullscreen="true" allowscriptaccess="always" id="utv648315" name="utv_n_932355" src="http://www.ustream.tv/flash/live/341377" type="application/x-shockwave-flash" /></object><a href="http://www.ustream.tv/channels" style="padding:2px 0px 4px;width:400px;background:#FFFFFF;display:block;color:#000000;font-weight:normal;font-size:10px;text-decoration:underline;text-align:center;" target="_blank">Free TV : Ustream</a>
	
</td><td>
	<embed width="563" height="266" type="application/x-shockwave-flash" flashvars="channel=#73s&server=chat1.ustream.tv" pluginspage="http://www.adobe.com/go/getflashplayer" src="http://www.ustream.tv/IrcClient.swf" allowfullscreen="true" />
	
</td></tr></table>

<p>Tip: You can type "/nick <i>callsign</i>" to share your callsign in the chat room </p>

</div>
