<h2>73s Gear Widget</h2>
<br />
<script type='text/javascript'>TOM_BgColor="white";document.write('<table cellpadding="0" cellspacing="0"><tr><td bgcolor="' + TOM_BgColor +'"><iframe allowTransparency="true" src="http://73s.org/<%=@p.user.login%>/widget" width="300" Height="400" frameborder="0"></iframe></td></tr></table><img src="http://73s.org/images/73s.jpg" width="50"><a href="http://73s.org/widget">Get your 73s widget!</a>');</script>
<br/><br/>
<p>
	Add the 73s gear widget to your site by copying and pasting the following script on your page! 
</p>
<p><textarea ROWS="5" COLS="40"><script type='text/javascript'>TOM_BgColor="white";document.write('<table cellpadding="0" cellspacing="0"><tr><td bgcolor="' + TOM_BgColor +'"><iframe allowTransparency="true" src="http://73s.org/<%=@p.user.login%>/widget" width="300" Height="400" frameborder="0"></iframe></td></tr></table><img src="http://73s.org/images/73s.jpg" width="50"><a href="http://73s.org/widget" target="_new">Get your 73s widget!</a>');</script></textarea></p>

