<div class="title">
<h2>
QSTs Tagged with "<i><%= h(@tagname.capitalize) %></i>" </h2><br />

<div id="show_item">

<%= render :partial => 'reviews' %>


<br />

  <%# link_to 'Explore Tag Cloud', :action => 'tags' %> 
  
</div